/* mặc định */
.home-section {
    height: 777px;
    display: flex;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("../img/project/introduce/hai.jpg") no-repeat center center/cover;
    color: white;
    padding: 50px;
    background-position: center;
    background-size: cover;
    position: relative;
}

/* hình ảnh minh họa */
.home-image {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    animation: fade-in 1s ease-in-out;
    object-fit: cover;
}
/* carousel */
.carousel-control-next, .carousel-control-prev {
    opacity: 0;
}
/* carousel hover */
.carousel-control-next:hover, .carousel-control-prev:hover {
    opacity: 1;
    transition: fade-in 1s ease-in-out;
}

.carousel-control-next, .carousel-control-prev {
    opacity: 0;
}

/* Tiêu đề */
.home-title {
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    animation: slide-in-left 1s ease-in-out;
    margin-bottom: 20px;
    z-index: 2;
}

/* subtitle */
.home-subtitle {
    font-size: 18px;
    margin-top: 10px;
    line-height: 28px;
    animation: fade-in 1.5s ease-in-out;
}

/* CTA */
.btn-discover {
    margin-top: 15px;
    padding: 12px 24px;
    border: 2px solid white;
    color: white;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    z-index: 2;
}

.btn-discover:hover {
    background-color: white;
    color: rgb(65, 78, 63);
}

/* Animations */
@keyframes slide-in-left {
    from {
        opacity: 0;
        transform: translateX(-3s0px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media (max-width: 992px) {
    .row {
        flex-direction: column;
        gap: 40px;
        align-items: center; /* Căn giữa tất cả phần tử trong row */
        text-align: center;
    }

    .col-lg-6 {
        width: 100%;
    }

    .carousel {
        max-width: 100%;
        width: 80%; /* Đảm bảo không quá rộng */
        margin: 0 auto; /* Căn giữa */
    }

    .home-title {
        font-size: 36px;
    }

    .home-subtitle {
        font-size: 16px;
        line-height: 24px;
    }

    .btn-discover {
        font-size: 16px;
        padding: 10px 20px;
    }
}
@media (min-width: 992px) {
    .col-lg-6 {
        width: 50%; /* Hai phần bằng nhau */
    }

    .carousel {
        max-width: 420px;
    }
}